#href {
  color: inherit;
  text-decoration: none;
}

.card {
  width: 315px;
  border: 3px solid;
  border-color: #484848;
  background-color: #A0A0A0;
  padding-left: 15px;
  padding-right: 3px;
  cursor: pointer;
  border-radius: 9px;
}

.card:hover {
  -webkit-box-shadow: 8px 8px 5px 0px rgba(209, 209, 209, 1);
  -moz-box-shadow: 8px 8px 5px 0px rgba(209, 209, 209, 1);
  box-shadow: 8px 8px 5px 0px rgba(209, 209, 209, 1);
}

h2 {
  text-align: center;
  margin-left: -15px;
  text-decoration: underline;
  text-underline-position: under;
  text-shadow: 2px 2px gray;
}

img {
  width: 300px;
  border: 2px solid;
  border-color: #484848;
  border-radius: 9px;

}

.info {
  border: 2px solid;
  width: 300px;
  border-color: #484848;
  margin-top: 12px;

  margin-bottom: 15px;
  background-color: #C8C8C8;
  border-radius: 9px;

}

ul {
  list-style: none;
  padding: 0PX;
}

p, ul {
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}
